.button{
     -fx-text-fill: #cfa2d5;
     -fx-background-color: white;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color:  #cfa2d5;
}

.backgroundAgregarClienteDatosPersonales{
    -fx-background-color: #FF4465;
}

.backgroundAgregarClienteAntecedentes{
    -fx-background-color: #FECD06;
}

.backgroundAgregarClienteSemiologia{
    -fx-background-color: #BADBD0;
}

.backgroundAgregarClienteMedidas{
    -fx-background-color: #39C7B9;
}

.backgroundAgregarClienteMas{
    -fx-background-color: #23A929;
}

.backgroundAgregarClienteDefecto{
     -fx-background-color:white;
}

